@import url(./node_modules/@fontsource/noto-serif-jp/500.css);
@import url(./node_modules/@fontsource/noto-serif-jp/900.css);

@import url(./node_modules/@fontsource/libre-baskerville/400.css);
@import url(./node_modules/@fontsource/libre-baskerville/400-italic.css);
@import url(./node_modules/@fontsource/libre-baskerville/700.css);

@import url(./node_modules/@fontsource/YakuHanMP/500.css);
@import url(./node_modules/@fontsource/YakuHanMP/900.css);


@import url(./node_modules/@fontsource/noto-sans-jp/400.css);
@import url(./node_modules/@fontsource/noto-sans-jp/500.css);
@import url(./node_modules/@fontsource/noto-sans-jp/800.css);

@import url(./node_modules/@fontsource/YakuHanJP/400.css);
@import url(./node_modules/@fontsource/YakuHanJP/500.css);
@import url(./node_modules/@fontsource/YakuHanJP/700.css);

@import url(./node_modules/@fontsource/ibm-plex-mono/400.css);
@import url(./node_modules/@fontsource/ibm-plex-mono/700.css);

@import url(./node_modules/@fontsource/m-plus-1-code/300.css);
@import url(./node_modules/@fontsource/m-plus-1-code/700.css);

@import url(./node_modules/@fontsource/material-icons/400.css);


:root{
    --vs-theme--sans-font-family: 'YakuHanJP', 'Noto Sans JP', sans;
    --vs-theme--serif-font-family: 'YakuHanMP', 'Libre Baskerville', 'Noto Serif JP', serif;
    --vs--monospace-font-family: 'IBM Plex Mono', 'M PLUS 1 Code', monospace;
}